* {
    font-size: 50px;
}
 body {
    display: flex;
    flex-direction: column; 
    align-items: center;
 }

 button {
    background-color:bisque;
    color:aliceblue
 }
 p {
    font-size: 90px;
 }

